<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">joel_escano_AP1_P2</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/AsignacionesPuntos/Index"">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Asignaciones Puntos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Estudiantes/Index" ">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Estudiantes
            </NavLink>
        </div>
    </nav>
</div>

