@page "/ViajesEspaciales/Create"
@rendermode InteractiveServer


@using joel_escano_AP1_P2.Models

<div class="container">
	<EditForm Model="Viaje" FormName="FormularioViajesEspaciales" OnSubmit="Guardar">
		<div class="card shadow-lg">
			<div class="card-header d-flex justify-content-between">
				<h5 class="card-title h4">Viajes Espaciales</h5>
			</div>
			<div class="card-body">
				<div class="row mb-3">
					<label class="form-label">Fecha de Ida</label>
					<InputDate class="form-control" @bind-Value="Viaje.FechaIda"></InputDate>
				</div>
				<div class="row mb-3">
					
				</div>
			</div>
			<div class="card-footer">
				<a href="/ViajesEspaciales/Index" class="btn btn-secondary">Volver</a>
				<button type="submit" class="btn btn-primary">
					<span class="bi bi-save"></span> Guardar
				</button>
			</div>


		</div>


	</EditForm>



</div>







@code {

	public ViajesEspaciales Viaje { get; set; } = new ViajesEspaciales();

	public async Task Guardar()
	{
		
	}


}
